/* footer */


.site-footer{
    background: #153C3C;

}
.footer__box{
    width: 100%;
    
    background: #153C3C;
    padding: 30px 10px 0 10px;
    margin: 0;
}
.footer-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;


    padding: 20px;
}
.footer-logo{
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;

    letter-spacing: 1.6px;

    color: #fff;

    background-repeat: no-repeat;
    background-position: bottom right;
}
.footer-text{
    width: 250px;
    

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: #fff;

    opacity: 0.6;
}
.footer-contact__list{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-left: 0;
    padding-left: 0;
}

.brend-icon{
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff !important;

    opacity: 0.4;
}
.brend-icon:hover{
    opacity: 1;


}
.brend-icon__item{
    font-size: 20px;
}
.brend-icon__item:hover{
    zoom: 1.3;
}

.footer-list__item-title{
    margin-top: -20px;

    font-size: 22px;

    color: #fff;
}
.footer-list__pages-link{
    margin-top: 3px;
    font-weight: 400;

    font-size: 16px;
    line-height: 160%;

    display: flex;
    align-items: center;
    
    color: #fff !important;
    opacity: 0.6;

    span{
        margin-left: 10px;
    }
}
.footer-list__pages-link:hover{
    opacity: 1;
}
.footer-qr__code{
    margin-top: 10px;
    width: 160px;
}
.footer-end{
    width: 100%;
    height: 58px;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background: rgba($color: #FFFFFF, $alpha: 0.06);
}
.footer-logotip{
    display: block;
    img{

        width: 100px;
        margin-top: 15px;
        
    }

}
.footer-end__text{
    padding: 5px 15px;
    margin-right: auto;

    text-align: center;

    font-size: 14px;
    line-height: 1.5;

    color: #fff;

    opacity: 1;

    a{
        color: rgba(173, 201, 166, 1);

    }

}
.footer-link__list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}
.footer-link__list-link{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    
    letter-spacing: 0.32px;
    
    color: #DDE4E4;

}
@media screen and(max-width:1050px) {
    
    .footer-list{
        justify-content: start   ;
    }
    .footer-logo{
        font-size: 30px;
    }
    
}

@media screen and(max-width:500px) {
    .footer-logo{
        font-size: 24px;
    }
    .footer-end{
        height: auto;
        padding: 10px 0;

        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
}