
.site-main{
    width: 100%;
    margin-top: 100px;
    padding: 20px 0;

    background: rgba(#153C3C, 0.9);
}
.section-title{
    padding: 0 0 40px 0;
    margin: 0;

    color: #fff;
}
.service-list__item{
    border-radius: 6px !important;
}
.carousel-item{
    text-align: center !important;

    border-radius: 6px !important;
}
.carousel-img{
    min-height: 300px !important;
    max-height: 680px;

    border-radius: 6px;
}
@media screen and(max-width: 400px){
    
.carousel-img{
    min-height: 260px !important;
    max-height: 680px;

    border-radius: 6px;
}
}

.service-section__box{
    width: 100%;
    padding: 40px 0;

    text-align: center;
}
.service-list{
    width: 100%;
    padding: 30px 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;

}
.service-list__item{
    max-width: 500px;
    min-width: 280px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    border-radius: 6px;

    background: #fff;
    box-shadow: 0px -2px 20px 8px rgba(34, 60, 80, 0.2);

    img{
        width: 100;

        border-radius: 6px;
    }
}
.service-list__title{
    margin-left: 15px;
}


.service-list__link{
    font-size: 16px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;


    text-align: left;
    color: #6fd649;

    padding: 5px 10px;

    border-radius: 4px;
    border: 1px solid rgb(49, 222, 6);
    color: rgb(49, 222, 6);
    background: #fff;
    box-shadow: 6px 17px 22px -3px rgba(34, 60, 80, 0.2);

    display: block;

    pointer-events: all;


    &:hover{

        background: rgb(49, 222, 6);
        color: #fff;
    }
}