.servicePage-list{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;

    pointer-events: none;

}
.servicePage-list__item{
    width: 280px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    border-radius: 6px;

    background: #fff;
    box-shadow: 6px 5px 17px -13px rgba(34, 60, 80, 0.2);

    img{
        width: 100%;
        height: 220px;
        border-radius: 6px;

        pointer-events: none;
    }

    pointer-events: all;
    
}
.card-img__box{
    z-index: 10;
    width: 100%;
    height: 200px;
    
    pointer-events: none;
}
.servicePage-list__item-body{
    z-index: 11;
    width: 100%;
    padding: 20px;

    pointer-events: none;
    
}
.servicePage-list__title{
    height: 30px;
    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;
}
.servicePage-list__text{
    max-width: 100%;
    height: 40px;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

    // font-size: 50px;
}
.servicePage-list__item-link{
    width: 100%;
    padding: 5px;

    border-radius: 4px;
    border: 1px solid rgb(49, 222, 6);
    color: rgb(49, 222, 6);
    background: #fff;
    box-shadow: 6px 17px 22px -3px rgba(34, 60, 80, 0.2);

    display: block;

    pointer-events: all;


    &:hover{

        background: rgb(49, 222, 6);
        color: #fff;
    }
}
.humans-card__item{

    position: relative;

    width: 240px;
    padding: 10px;

    text-align: center;

    border-radius: 6px;

    background: #fff;

}

.humans-card__img{
    width: 220px;
    height: 220px;
    padding: 2px;


    border-radius: 50%;
    border: 5px solid #153C3C;
}
.humans-rating{
    position: absolute;
    top: 205px;

    width: 100px;
    height: 30px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;


    border: 3px solid #153C3C;
    border-radius: 4px;

    background: rgb(0, 231, 58);
    color: yellow;

    right: calc(50% - 50px);
}
